@using Microsoft.AspNetCore.Identity
@using WebApplication8.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a  class="btn btn-link navbar-btn navbar-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" id = "registerLink">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" id = "loginLink" >Log in</a></li>
    </ul>
}


